.product-grid-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 25px !important;
  align-items: flex-end;
  & > * {
    margin-bottom: 25px;
  }
  .product-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -12px -6px;
  }
}

.product-grid-loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
}

@media screen and (max-width: 390px) {
  .product-grid-container {
    .product-cards {
      margin: 0;
    }
  }
}
