.product-card {
  margin: 12px 6px 0 6px;
  width: calc(100% / 5 - 12px);
  .image img {
    height: auto;
    width: 100%;
  }
  .card .ui.placeholder {
    width: 100%;
  }
  .card-popup-menu {
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    &:hover {
      color: rgb(43, 40, 40);
    }
  }
}
.card-popup-item {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: rgb(131, 109, 109);
  }
}

@media screen and (max-width: 1200px) {
  .product-card {
    width: calc(100% / 4 - 12px);
  }
}
@media screen and (max-width: 768px) {
  .product-card {
    width: calc(100% / 3 - 12px);
  }
}

@media screen and (max-width: 550px) {
  .product-card {
    width: calc(100% / 2 - 12px);
  }
}

@media screen and (max-width: 390px) {
  .product-card {
    width: 100%;
    margin: 0 0 12px;
    .ui.card {
      width: 100%;
    }
  }
}
