.container.single-product-profile {
  padding: 0 10px;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .container.single-product-profile {
    flex-direction: column;
  }
}
