.comment-wrap {
  display: flex;
  .user-pic {
    border: 1px solid rgba(68, 67, 67, 0.226);
    border-radius: 17%;
    max-height: 50px;
    max-width: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 7px;
    overflow: hidden;
    img {
      max-width: 50px;
      max-height: 100%;
    }
  }
  .comment-content {
    width: 100%;
    margin-left: 4px;
    .comment-text {
      display: inline-block;
      max-width: 500px;
      width: 100%;

      background-color: rgba(185, 179, 179, 0.103);
      padding: 7px;
      color: rgb(58, 56, 56);
      border-radius: 5px;
    }
    .comment-header {
      display: flex;
      margin-bottom: 5px;
      .username {
        font-weight: 900;
        span {
          font-size: 9px;
          margin-left: 6px;
          color: rgba(88, 88, 88, 0.438);
        }
      }
      .remove-comment {
        color: crimson;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        &:hover {
          color: rgb(255, 0, 51);
        }
      }

      justify-content: space-between;
    }
  }
}
